.appHeader {
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #ebecf0;
  border-bottom: 1px solid #babecc;

  .selectWrapper {
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #75777e;
    border-left: 1px solid #babecc;
    border-right: 1px solid #babecc;
  }

  a {
    color: #75777e;
    text-decoration: none;
  }

  .selected {
    color: #000000;
  }
}